
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 844px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__page_8 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:rgba(37.19,37.19,37.19,1);
}

#group_2 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
}

#_bg__group_2_ek1 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:#;
}


#_24_500_copy_7_2 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
}


#_rectangle_4 {
	top: 396px;
	left: 75px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#_rectangle_5 {
	top: 475px;
	left: 75px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#_________________________ {
	top: 405px;
	left: 101px;
	width: 201.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#_________________ {
	top: 484px;
	left: 129px;
	width: 144.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#_bg___group_6_ek1 {
	top: 0px;
	left: 0px;
	width: 240px;
	height: 52px;
	background:#;
}


#rectangle_6 {
	top: 725px;
	left: 75px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#_______ {
	top: 734px;
	left: 172px;
	width: 58.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#_rectangle_8 {
	top: 619px;
	left: 75px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#____________________ {
	top: 631px;
	left: 133px;
	width: 143.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#_____ {
	top: 20px;
	left: 161px;
	width: 134px;
	height: 42px;
	overflow: hidden;
	font-family: Noto Nastaliq Urdu;
	font-size: 40px;
	text-align: left;
	color:#000000;
}




