
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 844px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__page_10 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:rgba(37.19,37.19,37.19,1);
}

#group_2 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
}

#_bg__group_2_ek1 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:#;
}


#_24_500_copy_7_2 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
}


#_____ {
	top: 54px;
	left: 170px;
	width: 134px;
	height: 42px;
	overflow: hidden;
	font-family: Rakkas;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#rectangle_4 {
	top: 396px;
	left: 75px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#rectangle_6 {
	top: 619px;
	left: 75px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#____________ {
	top: 405px;
	left: 170px;
	width: 82.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#____________________ {
	top: 628px;
	left: 133px;
	width: 143.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_6 {
	top: 725px;
	left: 75px;
	width: 240px;
	height: 52px;
}

#_bg__group_6_ek1 {
	top: -725px;
	left: -75px;
	width: 240px;
	height: 52px;
	background:#;
}


#rectangle_6_ek1 {
	top: 0px;
	left: 0px;
	width: 240px;
	height: 52px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(157,105,90,1);
}


#_______ {
	top: 9px;
	left: 97px;
	width: 58.4px;
	height: 21.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_8 {
	opacity:0.12999999523163;
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:rgba(0,0,0,0.13);
}


#rectangle_9 {
	top: 354px;
	left: 65px;
	width: 260px;
	height: 137px;
	-ms-border-radius: 17px;
	-o-border-radius: 17px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	border-radius: 17px;
	background:rgba(157,105,90,1);
}


#________________________________________ {
	top: 396px;
	left: 75px;
	width: 260.4px;
	height: 29.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#________1 {
	top: 455px;
	left: 176px;
	width: 56.4px;
	height: 29.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


